<!-- Start Header Area -->
<header class="rbt-header rbt-header-1">
       
    <div class="rbt-sticky-placeholder"></div>
       
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
               
        <div class="container-fluid">
                       
            <div class="mainbar-row rbt-navigation-center align-items-center">
                               
                <div class="header-left rbt-header-content">
                                       
                    <div class="header-info">
                                               
                        <div class="logo">
                                                       
                            <!-- Logo Here  -->
                                                   
                        </div>
                                           
                    </div>
                                   
                </div>
                               
                <div class="rbt-main-navigation d-none d-xl-block">
                                       
                    <nav class="mainmenu-nav">
                                               
                        <!-- Start Navigation Here  -->
                                               
                        <ul class="mainmenu">
                                                        ...                        
                        </ul>
                                               
                        <!-- End Navigation Here  -->
                                           
                    </nav>
                                   
                </div>
                               
                <div class="header-right">
                                       
                    <ul class="quick-access">
                                               
                        <!-- Start Navbar Icons -->
                                                ...                        
                        <!-- End Navbar Icons -->
                                           
                    </ul>
                                   
                </div>
                           
            </div>
                   
        </div>
           
    </div>
</header>
<!-- End Header Area -->
